.header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: var(--secondary-color);
  color: var(--font-color);
}
.menuIcon {
  font-size: 30px;
  color: var(--contrast-color);
}
.menuIcon:hover {
  cursor: pointer;
}
.header > p {
  font-size: 17px;
}
.header > p > span {
  color: var(--contrast-color);
}
.mainContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}
.notesSelector {
  position: absolute;
  width: 230px;
  max-width: 230px;
  height: 100%;
  background: var(--secondary-color);
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
  z-index: 6;
  transition: 250ms ease-out;
}
.notesContainer {
  overflow-y: auto;
  width: 230px;
  height: 100%;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--font-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.inactiveNoteSelector {
  width: 7px;
  transition: 200ms;
  overflow-x: hidden;
}

.Message {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
.PlusIcon {
  font-size: 30px;
  color: var(--contrast-color);
}
.PlusIcon:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 500ms ease-in-out;
}
.Message p {
  text-align: center;
}
@media (max-width: 580px) {
  .notesSelector {
    position: absolute;
  }
}
