.optionContainer {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 5;
  transition: 100ms ease-in-out;
  background: rgba(0, 0, 0, 0.05);
}
.notesOptions {
  display: flex;
  flex-direction: column;
  background: var(--secondary-color);
  width: 200px;
  height: 100%;
  transition: 250ms ease-in;
}
.notesContainer {
  overflow-y: auto;
  overflow-x: hidden;
}
.appTitle {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin: 12px 10px;
}
.appTitle > p {
  margin: 0;
}
.SelectorButton {
  position: absolute;
  font-size: 30px;
  color: var(--contrast-color);
  margin: 5px 0 0 10px;
}
.SelectorButton:hover {
  cursor: pointer;
}
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--font-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.inactiveNoteSelector {
  width: 0px;
  overflow-x: hidden;
  transition: 200ms;
}

.Message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  height: max-content;
  height: 100%;
}
.PlusIcon {
  font-size: 30px;
  color: var(--contrast-color);
}
.PlusIcon:hover {
  cursor: pointer;
  transform: rotate(180deg);
  transition: 500ms ease-in-out;
}
.Message p {
  text-align: center;
}
.LogOutContainer {
  margin: auto 0 10px 10px;
  font-size: 20px;
  color: var(--contrast-color);
}
.LogOutContainer:hover {
  cursor: pointer;
}
@media (max-width: 540px) {
  .SelectorButton {
    display: none;
  }
}
