.TextContainer {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.EditableContent {
  position: absolute;
  width: 75vw;
  max-width: 900px;
  height: 100%;
  border-left: solid 1px var(--white-opacity);
  border-right: solid 1px var(--white-opacity);
  padding: 30px 14px 14px 14px;
  margin: auto;
  overflow-wrap: break-word;
  outline: none;
}
@media (max-width: 580px) {
  .TextContainer {
    justify-content: space-between;
  }
  .EditableContent {
    width: calc(90vw - 15px);
  }
}
