.header {
  display: none;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  background: var(--secondary-color);
  color: var(--contrast-color);
  font-size: 30px;
}
.listIcon:hover {
  cursor: pointer;
}
.mainContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 100%;
}
@media (max-width: 540px) {
  .header {
    display: flex;
  }
}
